:root {
	--white: #ffffff;
	--main-dark: #13161c;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}
